
.parent {
    display: flex;
    align-items: center;
    overflow: scroll;
    height: 350px;
    padding: 3rem;
    width: 80%;
    background-color:maroon;
    margin: auto;
    margin-left: auto;
    margin-bottom: 60%;
   

}

.Card {
    min-width: 350px;
    min-height:370px;
    margin: 5px;
    border-radius: 20px;
    margin-right: 2rem;
    background-color:lemonchiffon;
    padding: 15px;

    box-shadow: rgba(0, 0, 0, 0.20) ;

}

.Name {
    color: solid black;
    font-size: 30px;
    font-weight:bold;
    margin-top:5px;
}


.image {
    border-radius: 50%;
    width: 180px;
    height: 180px;

    background-color:azure;
}

.parent::-webkit-scrollbar {
    display: none;
}
.Div2{
    font-size: 25px;
    color: darkblue;
    margin-top:-10px;
}

.Div1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:black;
    margin-top:-10px;

}

.role{
    font-size: 20px;
    color: solid rgb(32, 31, 31);

}
.exp {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.img1 {
    height: 80px;
    width: 80px;

}
