input{
  border:2px solid transparent;
  box-shadow: 0px 0px 10px rgba(67,65,65,.4);
  font-size: 1.2rem;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  outline: none;
}
input:focus{
  text-decoration: none;
}

input:focus-within{
  border: 2px solid aqua;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button{
  width: 150px;
  padding: 20px;

  margin: 15px;
  border: 2px solid white;
  border-radius: 10px;
}